@import url('./__header/page__header.css');
@import url('./__footer/page__footer.css');

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: auto;
}