@import url('./__item/photo-grid__item.css');

.photo-grid {
  width: 92.5%;
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-gap: 16px;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .photo-grid {
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 14px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-gap: 16px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    grid-template-columns: 1fr;
    grid-gap: 8px;
  }
}
