.comment__author {
  margin: 0;
  padding: 0;
  margin-top: 13px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 900;
}


@media screen and (max-width: 768px) {
  .comment__author {
    margin-bottom: 24px;
  }
}