@import url('./__title/lead__title.css');
@import url('./__subtitle/lead__subtitle.css');
@import url('./__image/lead__image.css');
@import url('./__caption/lead__caption.css');

.lead {
  width: 76.95%;

  font-family: Inter, Arial, sans-serif;
  color: #fff;
}

@media screen and (max-width: 1024px) {

  .lead {
    width: 90.62%;
  }
}

@media screen and (max-width: 767px) {

  .lead {
    width: 100%;
  }
}