.video__link {
  position: absolute;
  padding-left: 5%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.video__link:before {
  position: absolute;
  content: '';
  top: 5%;
  left: 5%;
  width: 41px;
  height: 41px;
  background-image: url('../icon_play.svg');
}