@import url('./__author/comment__author.css');
@import url('./__image/comment__image.css');
@import url('./__quote/comment__quote.css');

.comment {
  width: 32.36%;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: Inter, Arial, sans-serif;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .comment {
    width: 55%;

    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .comment {
    width: 49%;
  }
}

@media screen and (max-width: 425px) {
  .comment {
    width: 100%;
  }
}