@import url('./__title/intro__title.css');
@import url('./__subtitle/intro__subtitle.css');
@import url('./__text/intro__text.css');
@import url('./__list/intro__list.css');
@import url('./__item/intro__item.css');
@import url('./__content-row/intro__content-row.css');
@import url('./__content-col/intro__content-col.css');


.intro {
  width: 100%;
  padding: 0 11.56%;

  font-family: Inter, Arial, sans-serif;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 0 4.65%;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 0 3.12%;
  }
}