.place__columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .place__columns {
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
  }
}